.container {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;

  -webkit-box-shadow: inset 11px 0px 32px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 11px 0px 32px -11px rgba(0, 0, 0, 1);
  box-shadow: inset 11px 0px 32px -11px rgba(0, 0, 0, 1);
}
